/* .testbaby {
	background-color: #192817; 
	background-image: linear-gradient(45deg, #0075FF 25%, transparent 25%), linear-gradient(-45deg, #0075FF 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #0075FF 75%), linear-gradient(-45deg, transparent 75%, #0075FF 75%);
	background-size: 40px 40px;
	background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: black;
	z-index: 1;
} */
/* body.chakra-ui-dark {
	background-image: url("./assets/PunkOnEarth.png");
	background-image: url("./assets/LifeOnMars.png");
	background-image: url("./assets/Punk-Mother-Mars-Tile.png");
	background-repeat: repeat;
} */

body.chakra-ui-light {
	background-color: #192817; 
	background-image: linear-gradient(45deg, #B5FF00 25%, transparent 25%), linear-gradient(-45deg, #B5FF00 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #B5FF00 75%), linear-gradient(-45deg, transparent 75%, #B5FF00 75%);
	background-size: 40px 40px;
	background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: black;
	/* z-index: 1; */
  }


body.chakra-ui-dark {
  background-color: #192817; 
  background-image: linear-gradient(45deg, #0075FF 25%, transparent 25%), linear-gradient(-45deg, #0075FF 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #0075FF 75%), linear-gradient(-45deg, transparent 75%, #0075FF 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
  /* z-index: 1; */
}

.Wordmark.chakra-ui-light {
	background-image: url(./ğ™¿ğ™¾ğ™½ğ™º.png) !important;
}

.Wordmark.chakra-ui-dark {
	background-image: url(./ğ™¿ğš„ğ™½ğ™º.png) !important;
}

Button {
	font-weight: 400 !important;
	transition: all 3s ease-in-out;
}

Button:hover {
	text-decoration: none;
	/* font-weight: 600 !important; */
	transform: scale(1.01) !important;
	/* transition: all 1s ease-in-out; */
	cursor: default;
}

IconButton.chakra-ui-light {
	background-color: #FF00C4;
}

#Layer_1 {
  width: 28px;
  height: 28px;
}