@import url("https://v1.fontapi.ir/css/SFMono:400");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@font-face {
  font-family: "Projection";
  src: url("https://okpc.app/fonts/projection.woff") format("woff");
}

:root {
  --chakra-fonts-heading: "Projection", -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol" !important;
  --chakra-fonts-body: "JetBrains Mono", -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol" !important;
  --chakra-fonts-mono: "JetBrains Mono", "SF Mono", "SFMono-Regular", Menlo,
	Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --chakra-fonts-copy: "JetBrains Mono", -apple-system, BlinkMacSystemFont,
	"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol" !important;
}

body.chakra-ui-light {
	background-color: #192817; 
	background-image: linear-gradient(45deg, #B5FF00 25%, transparent 25%), linear-gradient(-45deg, #B5FF00 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #B5FF00 75%), linear-gradient(-45deg, transparent 75%, #B5FF00 75%);
	background-size: 40px 40px;
	background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: black;
	/* z-index: 1; */
  }


body.chakra-ui-dark {
  background-color: #192817; 
  background-image: linear-gradient(45deg, #0075FF 25%, transparent 25%), linear-gradient(-45deg, #0075FF 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #0075FF 75%), linear-gradient(-45deg, transparent 75%, #0075FF 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
  /* z-index: 1; */
}


Button {
	font-weight: 400 !important;
	transition: all 3s ease-in-out;
}

Button:hover {
	text-decoration: none;
	/* font-weight: 600 !important; */
	transform: scale(1.01) !important;
	/* transition: all 1s ease-in-out; */
	cursor: default;
}

IconButton.chakra-ui-light {
	background-color: #FF00C4;
}

#Layer_1 {
  width: 28px;
  height: 28px;
}

/* #noise {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: .14;
} */